/* Styling for the header */
.header {
    font-family: 'AppleSymbols';
  }
  
  .header h1 {
    font-family: 'AppleSymbols';
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Set a font size for the title */
    color: #333; /* Set a color for the title */
  }

body {
    /* font-family: Arial, sans-serif; */
    text-align: center;
    font-family: 'AppleSymbols';
    margin: 0;
    padding: 3em;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    width: 80%; /* Adjust the width as needed */
  }
  
  .container a {
    text-decoration: none;  /* Remove underline from the links */
    color: inherit; /* Inherit the color from parent or set a custom color */
  }
  
  .container span {
    font-size: 24px;
    cursor: pointer; /* Show pointer cursor on hover */
    padding: 5px;
  }
  
  .container a:hover span {
    color: #800020; /* Change color on hover (optional) */
  }

  .link {
    text-decoration: none; /* Remove the underline from links */
    color: #880808; /* Set a color for the links */
    font-size: 16px; /* Adjust the font size */
  }
  
  .link:hover {
    color: #800020; /* Change color on hover */
  }

  .fp-iframe{
    height:50%;
    width: 50%;
  }
  .yt-iframe{
    height:50%;
    width: 50%;
  }

  .align-center {
    display: center;
  }

  .align-center img {
    width: 30%;
    vertical-align: middle;
    border: 1px solid #0E1122;
  }
  